/*entire body*/
body{
	margin: 0;
	width: 100vw;
	height: 100vh;
}
.grad {
  background-image: linear-gradient(to bottom, #78FEEA, #00D8FE);
}

h1{
	font-size: 4rem;
}
h2{
	font-size: 22px;
}

/*bigger sections*/
.section-container {
	background: white;
	border-radius: 25px;
	padding: 25px;
}

#left{
	float: left;
    margin: 0 15px;
}

/*grid and flex box*/
#recommendation{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100%;
}

.recommendation-col{
	grid-column: span 1;
	min-width: 0;
	padding-right: 40px;
	overflow: hidden;
    text-overflow: ellipsis;
}

#wrapper{
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 100vh;
}

#center{
	padding: 15px;
	grid-column: span 3;
}

#right{
	padding: 15px;
	overflow: scroll;
	grid-column: span 6;
}

#song-list-container, #playlist-container{
	/*using flex box*/
	display: flex;
	height: 100%;
	flex-flow: column;
}

#song-list-header, #playlist-header, #recommendation-header{
	/*flex box item 1*/
}

#song-list, #playlist, #recommendation{
	/*flex box item 2*/
	flex-shrink: 2;
	overflow:hidden; 
	overflow-y:scroll;
}

#btn-song-list, #playlist-buttons{
	/*flex box item 3*/
	margin: 10px;
}

#right{
	/*using flex box*/
	display: flex;
	flex-flow: column;
}

#recommendation-wrapper{
	flex-grow: 1;
	flex-shrink: 2;
}

/*
#recommendation-wrapper{
	display: flex;
	flex-flow: column;
}

#recommendation{
	flex-shrink: 2;
	overflow:hidden; 
	overflow-y:scroll;
}*/


/*paylist section*/
#playlist-container{
	display: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.playlist-item {
	border-bottom: 1px solid;
    margin-bottom: 10px;
    list-style-position:inside;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}



/*recommendation section*/
.recommendation {
	display: inline-block;
	list-style-position:inside;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

a:hover{
	cursor: pointer;
}

#recommendation-wrapper{
	margin-top: 30px;
}

.recommendations-item{
	border-bottom: 1px solid;
	margin-bottom: 5px;
}

.recommendation-number{
	display: inline-block;
	float: left;
	width: 20px;
}

.recommendation-header{
	font-weight: bold;
}



/*timeline section*/
.spectrum {
	margin: 10px 0;
}

.song-title {
	display: inline-block;
	width: 50%;
	list-style-position:inside;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	float: left;
}

.bpm{
	display: inline-block;
	width: 20%;
	margin-left: 5%;
}

.key{
	display: inline-block;
	margin-left: 5%;
	width: 20%;
	float: right;
}

#btn-add-to-playlist1{
	display: none;
}

#btn-add-to-playlist1, #btn-add-to-playlist2{
	margin-top: 5px;
}